# Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

# System files
.DS_Store
Thumbs.db
